*~
*.o
*/obj/nes/*.bin
*/obj/nes/*.1bpp
*/obj/nes/*.chr
*/obj/nes/*.ch1
*/obj/nes/*.s
*/obj/nes/*.nam
*/obj/nes/*.pb8
*/obj/nes/*.pb53
*/obj/nes/*.pkb
*/obj/nes/*.dmc
*/obj/nes/*.121
*.nes.deb
*/*.nes
*/*.nsf
*.sav
*.zip
*/*.prg
*/map.txt
*/mapalt.txt
*/map218.txt
*/nsfmap.txt
x816-things/nibbles/packbits
x816-things/nibbles/packbits.exe
x816-things/nibbles/mkpowers
x816-things/nibbles/mkpowers.exe
x816-things/asm6
x816-things/asm6.exe
x816-things/*/*.pkb
x816-things/nibbles/nibb_tab.bin
sound-drivers/*/*.nes
sound-drivers/*/map.txt
sound-drivers/*/obj/nes/*.s
sound-drivers/5/tools/mkpowers
sound-drivers/5/tools/mkpowers.exe
sound-drivers/balance/tools/freqtable
sound-drivers/balance/tools/freqtable.exe
sound-drivers/balance/tools/81
sound-drivers/balance/tools/81.exe
fded/fded
fded/fded.exe
fded/*.o
zip.in
__pycache__
