*.o
*/obj/nes/*.bin
*/obj/nes/*.1bpp
*/obj/nes/*.chr
*/obj/nes/*.ch1
*/obj/nes/*.s
*/obj/nes/*.nam
*/obj/nes/*.pb8
*/obj/nes/*.pb53
*/obj/nes/*.pkb
*/obj/nes/*.dmc
*/obj/nes/*.121
*/*.nes
*/*.nsf
*.sav
*.zip
*/*.prg
*/map.txt
*/mapalt.txt
*/map218.txt
*/nsfmap.txt
zip.in
__pycache__
